<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Payment</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <style>
        .card { 
            max-width: 715px;
            background-color: #353B67;
        }
        .checkout-status {
            background-color: #282D51;
            padding-top: 165px !important;
            flex: 1 0 33%;
        }
        .checkout-status .description { color: #858BBB; }
        .checkout-status img { 
            width: 43px;
            height: auto;
        }
        .checkout-status .description.success-description { color: #08CF65; } 
        .checkout-status .description.fail-description { color: #FF5757; }
        .checkout-status .checkout-amount { font-size: 28px; }
        .payment-details { flex: 1 0 67%; }
        .details-label {
            color: #858BBB;
            min-width: 100px;
            flex-shrink: 0;
        }
        .details-value {
            flex-grow: 1;
            text-align: right;
            overflow-wrap: break-word;
        }
        .payment-notice {
            color: #858BBB;
            background: #282D51;
            padding: 7px 30px;
            border-radius: 58px;
        }
        .steps-container { border-radius: 5px; }
        .accordion-section a {
            cursor: pointer;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .arrow {
            font-size: 16px;
            color: #6A59FF;
            transition: transform 0.3s;
        }
        .outline-color { border: 1px solid #858BBB; }
        #userManualContainer {
            display: none;
            border-radius: 5px;
        }

        @media screen and (max-width: 768px) {
          .card { flex-direction: column !important; }
          .payment-details { padding: 24px !important; }
          .checkout-status { padding-top: 16px !important; }
        }
    </style>
</head> 

<body class="d-flex justify-content-center align-items-center vh-100">
    <main class="container">
        <div class="card overflow-hidden mx-auto flex-row">
            <div class="checkout-status p-3 text-center">
                <div th:switch="${paymentInfoFormModel.paymentStatus}">
                    <div th:case="'SUCCESS'">
                        <img class="mb-3" src="/images/green-tick.png" alt="Success">
                        <div class="description success-description f14" th:text="#{pgw.general.label.paymentSuccess}">Transaction Successful</div>
                    </div>

                    <!-- <div th:case="'PENDING'">
                        <img class="mb-3" src="/images/payment-processing-clock.svg" alt="Processing">
                        <div class="description f14" th:text="#{pgw.general.label.pendingForYourPayment}">Payment Pending</div>
                    </div>

                    <div th:case="'FAIL'">
                        <img class="mb-3" src="/images/red-close.jpg" alt="Fail">
                        <div class="description fail-description f14" th:text="#{pgw.general.label.paymentFailed}">Payment Fail</div>
                    </div>

                    <div th:case="*">
                        <img class="mb-3" src="/images/payment-processing-clock.svg" alt="Processing">
                        <div class="description f14" th:text="#{pgw.general.label.pendingForYourPayment}">Processing</div>
                    </div> -->
                </div>

                <div class="checkout-amount mt-3 font-weight-bold" th:text="${paymentInfoFormModel.amount}">IDR 120.000</div>
            </div>

            <div class="payment-details p-5">
                <div class="d-flex mb-3" th:each="element : ${paymentInfoFormModel.forms}">
                    <div class="details-label f14" th:text="#{${element.key}}">User Name</div>
                    <div class="details-value f14 text-white" th:text="${element.value}">BLG-CP-COMMERCE</div>

                    <input type="image" class="pl-2"
                        th:if="#{${element.key}} eq #{pgw.general.label.transactionNo} or #{${element.key}} eq #{pgw.general.label.paymentCode}"
                        th:attr="onclick=|copy('${element.value}')|" th:id="'btn_txt_copy_' + ${element.value}"
                        src="/images/copy.svg"
                        alt="Submit" width="30" height="25">
                    <div th:id="'txt_copied_'+${element.value}"
                        th:if="#{${element.key}} eq #{pgw.general.label.transactionNo} or #{${element.key}} eq #{pgw.general.label.paymentCode}"
                        style="color:#6A59FF;text-align:right;display:none;padding-left:5px;"
                        th:text="#{pgw.general.label.copied}">
                    </div>
                </div>

                <div class="d-flex mb-3" th:each="element : ${paymentInfoFormModel.forms}">
                    <div class="details-label f14" th:text="#{${element.key}}">Item</div>
                    <div class="details-value f14 text-white" th:text="${element.value}">120 Diamond</div>

                    <input type="image" class="pl-2"
                        th:if="#{${element.key}} eq #{pgw.general.label.transactionNo} or #{${element.key}} eq #{pgw.general.label.paymentCode}"
                        th:attr="onclick=|copy('${element.value}')|" th:id="'btn_txt_copy_' + ${element.value}"
                        src="/images/copy.svg"
                        alt="Submit" width="30" height="25">
                    <div th:id="'txt_copied_'+${element.value}"
                        th:if="#{${element.key}} eq #{pgw.general.label.transactionNo} or #{${element.key}} eq #{pgw.general.label.paymentCode}"
                        style="color:#6A59FF;text-align:right;display:none;padding-left:5px;"
                        th:text="#{pgw.general.label.copied}">
                    </div>
                </div>

                <div class="d-flex mb-3" th:each="element : ${paymentInfoFormModel.forms}">
                    <div class="details-label f14" th:text="#{${element.key}}">User Name</div>
                    <div class="details-value f14 text-white" th:text="${element.value}">BLG-CP-COMMERCE</div>

                    <input type="image" class="pl-2"
                        th:if="#{${element.key}} eq #{pgw.general.label.transactionNo} or #{${element.key}} eq #{pgw.general.label.paymentCode}"
                        th:attr="onclick=|copy('${element.value}')|" th:id="'btn_txt_copy_' + ${element.value}"
                        src="/images/copy.svg"
                        alt="Submit" width="30" height="25">
                    <div th:id="'txt_copied_'+${element.value}"
                        th:if="#{${element.key}} eq #{pgw.general.label.transactionNo} or #{${element.key}} eq #{pgw.general.label.paymentCode}"
                        style="color:#6A59FF;text-align:right;display:none;padding-left:5px;"
                        th:text="#{pgw.general.label.copied}">
                    </div>
                </div>

                <div class="d-flex mb-3" th:each="element : ${paymentInfoFormModel.forms}">
                    <div class="details-label f14" th:text="#{${element.key}}">User Name</div>
                    <div class="details-value f14 text-white" th:text="${element.value}">BLG-CP-COMMERCE</div>

                    <input type="image" class="pl-2"
                        th:if="#{${element.key}} eq #{pgw.general.label.transactionNo} or #{${element.key}} eq #{pgw.general.label.paymentCode}"
                        th:attr="onclick=|copy('${element.value}')|" th:id="'btn_txt_copy_' + ${element.value}"
                        src="/images/copy.svg"
                        alt="Submit" width="30" height="25">
                    <div th:id="'txt_copied_'+${element.value}"
                        th:if="#{${element.key}} eq #{pgw.general.label.transactionNo} or #{${element.key}} eq #{pgw.general.label.paymentCode}"
                        style="color:#6A59FF;text-align:right;display:none;padding-left:5px;"
                        th:text="#{pgw.general.label.copied}">
                    </div>
                </div>
    
                <form th:attr=" action=${paymentInfoFormModel.formAction},method=${paymentInfoFormModel.method}" id="ePayment" class="form mt-4">
                    <input type="hidden" th:attr="name=refNo,value=${paymentInfoFormModel.refNo}">
    
                    <div th:if="${paymentInfoFormModel.isVA} == true">
                        <div class="payment-notice text-center f12 mb-3" th:text="#{pgw.general.label.paymentNotice}">Your order will be dispatched once the payment is verified</div>
                        <div class="f12 text-white text-center mb-3" th:text="#{pgw.general.label.paymentTimerInstruction}">Please use the Payment Code within 24 hours. The instructions can be found in the link below and in the email we have sent you.</div>
                    </div>

                    <div class="steps-container outline-color my-4 px-3 py-2" th:if="${paymentInfoFormModel.paymentStepList != null}">
                        <table th:each="element : ${paymentInfoFormModel.paymentStepList}">
                            <tr class="mb-2">
                                <td th:switch="${elementStat.index}">
                                    <span th:case="'0'">A</span>
                                    <span th:case="*" th:text="${elementStat.index}+'.'">BB</span>
                                </td>
                                <td class="pl-2" th:text="${element.toString()}">CCCC</td>
                            </tr>
                        </table>
                    </div>
    
                    <div class="mb-3 accordion" th:if="${paymentInfoFormModel.stepsContentBody!=null}">
                        <div class="accordion-section">
                            <a href="#" class="btn btn-outline-light outline-color text-white d-flex justify-content-between">Payment Instruction <span class="arrow">▼</span></a>
                            <div id="userManualContainer" class="p-4 f12 outline-color text-center text-white" th:utext="${paymentInfoFormModel.stepsContentBody}">     
                                1. Masukkan kartu ATM dan Pin.
                                2. Pilih Menu Bayar/Beli.
                                3. Pilih menu Lainnya, hingga menemukan menu Multipayment.
                                4. Pilih penyedia jasa OY! Indonesia Masukkan kode biller 89325, lalu pilih Benar.
                                5. Masukkan Nomor Virtual Account, lalu pilih tombol Benar.
                                6. Masukkan Angka untuk memilih tagihan, lalu pilih tombol Ya.
                                7. Akan muncul konfirmasi pembayaran, lalu pilih tombol Ya.
                                8. Simpan struk sebagai bukti pembayaran Anda.
                                
                                INTERNET BANKING atau MANDIRI ONLINE
                                1. Login Mandiri Online dengan memasukkan username dan password.
                                2. Pilih menu Pembayaran.
                                3. Pilih menu Multipayment.
                                4. Pilih penyedia jasa “OY Indonesia”
                                5. Masukkan Nomor Virtual Account dan Nominal yang akan dibayarkan, lalu pilih Lanjut.
                                6. Setelah muncul tagihan, pilih Konfirmasi.
                                7. Masukkan PIN/ challenge code token.
                                8. Transaksi selesai, simpan bukti bayar kamu
                            </div>
                        </div>
                    </div>
    
                    <div class="f12 text-white text-center" th:text="#{pgw.general.label.popUpSafeClosed}">The pop-up window is safe to be closed now.</div>
                </form>
            </div>
        </div>
    </main>

    <script src="/js/jquery.js"></script>
    <script th:inline="javascript">
        $('.accordion-section a').click(function() {
            const content = $(this).next('div');
            content.toggle();

            // Toggle the arrow icon (▼ and ▲)
            const arrow = $(this).find('.arrow');
            arrow.text(content.is(":visible") ? "▲" : "▼");

            // Add or remove the "opened" class for the accordion section
            $(this).parent('.accordion-section').toggleClass('opened');
        });

        function copy(value) {
            navigator.clipboard.writeText(value);

            var x = document.getElementById("txt_copied_"+value);
            var y= document.getElementById("btn_txt_copy_"+value);
            if (x.style.display === "none") {
                x.style.display = "block";
                y.style.display="none";
            } else {
                x.style.display = "none";
                y.style.display="block";
            }
            setTimeout(function(){
                x.style.display = "none";
                y.style.display="block";
            }, 1000);
        }
    </script>
</body>
</html>
